<h1>CA Brisbane Forum</h1>
<p>Welcome to the Brisbane Coder Academy Forum</p>

<%# media from bootstrap %>
<% for question in @questions%>
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
            <img class="media-object" src=<%= question.gravatar %> >
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= question.email %></h4>
            <p><%= time_ago_in_words(question.created_at) %></P>
            <%= question.body %>
        <div>
            <a href="<%= question_path(question) %>" class="btn btn-success btn-xs">View Answers</a>
        </div>    
    </div>
<% end %>

<%# 
<div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="http://www.gravatar.com/avatar/424242" >
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">user@email.com asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, expedita. Ullam voluptatem suscipit, modi corrupti assumenda fugiat a qui ex dolorum, architecto nulla quia accusantium, vitae consectetur cum doloribus debitis.
    <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>    
</div>

<div class="media">
    <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="http://www.gravatar.com/avatar/424242" >
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">user@email.com asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, expedita. Ullam voluptatem suscipit, modi corrupti assumenda fugiat a qui ex dolorum, architecto nulla quia accusantium, vitae consectetur cum doloribus debitis.
    <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
    </div>    
</div> %>
